<h1><%= @article.title %></h1>

<p class="article-body"><%= @article.body %></p>

<span class="article-buttons">
	<span class="button">
		<%= link_to "Edit", edit_article_path(@article) %>
	</span>

	<span class="button">
	<%= link_to "Destroy", article_path(@article), data: {
										turbo_method: :delete,
										turbo_confirm: "Are you sure?"
									} %>
	</span>
</span>

<span class="comments-span">
	<span class="comments-box">
		<h2>Leave a comment</h2>
		<%= render 'comments/form' %>
	</span>

	<span class="comments-box">
		<h2>Comments</h2>
		<%= render @article.comments %>
	</span>
</span>

<span class="button">
	<%= link_to "Back home", articles_path %>
</span>
